<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
	{% block other_styles %}{% endblock %}
	<title>Quacker - {% block title %}{% endblock %}</title>
</head>
<body>
	{% block navbar %}{% endblock %}
	
	{% block body %}{% endblock %}

	{% block js %}{% endblock %}
	<script type="text/javascript">
		function search(item) {
			var username = $(item).val();
			if(username === "") {
				return;
			}

			window.location.replace("/profile/" + username);
		}
	</script>
	{% if user.is_authenticated %}
		<script type="text/javascript">
			$(document).ready(function () {
				$('#quackarea').on('input propertychange', function () {
				    $("#chars").text((250 - this.value.length) + ' characters left');
				});
			})
		</script>
	{% endif %}
</body>
</html>